# Sander van de Kamp
#### 500734351 
#### 25/05/2021
# Anova, T-toets and PCA for airline satisfaction

In [95]:
import pandas as pd
from scipy.stats import ttest_ind, t
from sklearn.decomposition import PCA

df = pd.read_csv('../../../Bootcamp/data_folder/Airlinesatisfaction.csv')
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.dropna(inplace = True)
df.drop(['unnamed:_0', 'id'], axis = 1, inplace = True)

In [96]:
df

,gender,customer_type,age,type_of_travel,class,flight_distance,inflight_wifi_service,departure/arrival_time_convenient,ease_of_online_booking,gate_location,...,inflight_entertainment,on-board_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,3,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,3,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,5,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

# T-toets

In [97]:
dof = len(df) * 2 - 2
t_stat, p = ttest_ind(df['departure_delay_in_minutes'], df['arrival_delay_in_minutes'])
print(f't={t_stat}, p={t.sf(t_stat, dof)}')

t=-2.5523243383624057, p=0.9946493018898546

T-tets tussen de vetraging van een vlucht en de aankomst vetraging van de vlucht

Zoals te zien is is de Probability tussen deze twee waardes 0.99, wat betekend dat er een hoge correlatie zit tussen de twee waardes. Als de P waarde boven de 0.05 zit kan de "Null Hypothesis" aangenomen moet worden. wat betekend dat er geen relatie zit tussen de twee waardes
De T-score geeft aan hoe groot het verschil is tussen de twee groepen die vergeleken worden, hoe hoger het getal hoe groter het verschil is. Wat betekend dat er nauwelijks een verschil zit in de data van departure delay en arrival delay.

T-toets tussen de leeftijd van een passagier en de aankomst vertraging van de vlucht

De Probability tussen de leeftijd en vertraging is practisch 0, waardoor de "Null Hypothesis" verworpen moet worden. Wat betekend dat er een correlatie zit tussen de leeftijd van passagiers en de vetraging van de vlucht.
Hoge T-waarde geeft ook aan dat er een groot verschil zit in de waardes tussen age en departure delay

In [98]:
t_stat, p = ttest_ind(df['age'], df['departure_delay_in_minutes'])
print(f't={t_stat}, p={t.sf(t_stat, dof)}')

t=193.35467175867947, p=0.0

# PCA
PCA wordt gebruikt om de variatie die elke kolom bij draagt aan de dataset te bepalen, als een kolom een hoge bijdrage heeft zal het belangrijk zijn om deze te gebruiken om te trainen, terwijl lage variatie kolommen weinig toevoegen aan het trainen van de modellen.

In [99]:
df.dtypes
df.drop(['gender', 'customer_type', 'type_of_travel', 'class', 'flight_distance'] , axis = 1, inplace = True)

In [100]:
labels = df.pop('satisfaction')

pca = PCA()
pca.fit_transform(df)
totaal = 0
index = 0
cols = df.columns

for score in pca.explained_variance_ratio_:
    score = round(score, 4)
    totaal += score
    print(f'Score: {score} - Totaal: {round(totaal, 3)} For column: {cols[index]}')
    index += 1

Score: 0.9052 - Totaal: 0.905 For column: age
Score: 0.0713 - Totaal: 0.976 For column: inflight_wifi_service
Score: 0.0159 - Totaal: 0.992 For column: departure/arrival_time_convenient
Score: 0.002 - Totaal: 0.994 For column: ease_of_online_booking
Score: 0.0014 - Totaal: 0.996 For column: gate_location
Score: 0.0011 - Totaal: 0.997 For column: food_and_drink
Score: 0.0006 - Totaal: 0.998 For column: online_boarding
Score: 0.0005 - Totaal: 0.998 For column: seat_comfort
Score: 0.0004 - Totaal: 0.998 For column: inflight_entertainment
Score: 0.0003 - Totaal: 0.999 For column: on-board_service
Score: 0.0003 - Totaal: 0.999 For column: leg_room_service
Score: 0.0002 - Totaal: 0.999 For column: baggage_handling
Score: 0.0002 - Totaal: 0.999 For column: checkin_service
Score: 0.0002 - Totaal: 1.0 For column: inflight_service
Score: 0.0002 - Totaal: 1.0 For column: cleanliness
Score: 0.0001 - Totaal: 1.0 For column: departure_delay_in_minutes
Score: 0.0001 - Totaal: 1.0 For column: arrival_delay_in_minutes

Aan de hand van de PCA is te zien dat de eerste drie kolommen (age, inflight wifi service en departure/arrival time convenient) bijna alles bijdragen aan de volledige variatie, hierdoor kan de beslissing genomen worden om alleen de eerste drie kolommen te gebruiken om het model te trainen. Aangezien de overige kolommen geen toegevoegde waarde hebben als het gaat om de totale variatie in de dataset.

# ANOVA
ANOVA is T-toets alleen dan voor een kolom waarin meerdere waardes zitten, als het binair is kan t-toets gebruikt worden en voor meer is anova nodig.

In [110]:
from scipy import stats

jongeren = df['age'][df['age'] < 25]
volwassenen = df['age'][(df['age'] > 25) & (df['age'] <= 65)]
ouderen = df['age'][df['age'] > 65]

F, p = stats.f_oneway(jongeren, volwassenen, ouderen)
# Seeing if the overall model is significant
print('F-Statistic=%.3f, p=%.3f' % (F, p))

F-Statistic=79944.470, p=0.000

Hierin blijkt aan de hand van de F waarde dat de vershillen in leeftijdsgroepen erg groot is, terwijl de pwaarde erg klein is. Dit wil zeggen dat de null hypothese verworpen moet worden

# Bronvermelding

T-toets:
[Code](https://predictivehacks.com/how-to-perform-a-students-t-test-in-python/), [theorie](https://towardsdatascience.com/inferential-statistics-series-t-test-using-numpy-2718f8f9bf2f)

ANOVA: [Code](https://www.analyticsvidhya.com/blog/2020/06/introduction-anova-statistics-data-science-covid-python/)