# Sander van de Kamp
#### 500734351 
#### 31/03/2021
# Slicing

In [10]:
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 5 waardes halen uit de list op verschillende plekken

In [11]:
print(values[0:5]) # 1 tot en met 5
print(values[2:7]) # 3 tot en met 7
print(values[5:10]) # 6 tot en met 10

[1, 2, 3, 4, 5]
[3, 4, 5, 6, 7]
[6, 7, 8, 9, 10]

## alles vanaf specifiek punt nemen

In [13]:
print(values[:-1]) # alles behalve laatste
print(values[2:]) # alles vanaf 2

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9, 10]

## overige manieren om data uit lists te halen

In [36]:
print(values[::2]) # 1 getal over slaan
print(values[::4]) # 3 getallen over slaan
print(values[::-1]) # lijst omdraaien
print(values[5:1:-1]) # 3 tot 6 achteruit weergeven

[1, 3, 5, 7, 9]
[1, 5, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[6, 5, 4, 3]